<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <meta
      name="description"
      content="Hey, I’m Dan Liburd and welcome to Dan’s log, where I share my existential ramblings and programming excursions."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/assets/css/prism.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />

    <meta name="theme-color" content="#fafafa" />
  </head>

  <body>
    <a href="#main-content" class="skip-to-content">Skip to content</a>

    <div class="site-header-wrapper">
      <header class="site-header">
        <div class="site-header__title-wrapper">
          <h1 class="site-header__title">
            <a class="site-header__title__link" href="/">Dan's Log</a>
          </h1>
        </div>
        {% include black-bird.html %}
      </header>
    </div>
    <div class="site-wrapper">
      {{ content }}
    </div>

    <footer class="site-footer">
      <span
        >Dan's Log @ <span class="site-footer__date">2023</span> - Built with
        love.</span
      >
    </footer>
    {% if page.is_post %}
    <script src="/assets/js/prism.js" type="module"></script>
    {% endif %}
  </body>
</html>
